body {
  background-color: #b799ff;;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#form{
  height:210px;
  width:400px;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
  background-color: #b799ff;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 8px;
  background-color: #eee3cb;
  color: black;
}
input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 8px;
  background-color: #eee3cb;
}
#container{
display: grid;
}
#btnsub{
  background-color: white;
  width:65px;
  height:25px;
  border-radius: 8px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  font-size: 15px;
}
.value{
  color:red;
  padding-bottom: 5px;;
}
#table{
  display: grid;
  margin: auto;
  width:500px;
  height:100px;
}
#mytable{
  border-radius:8px;
  border-color: #f79327;
  background-color:#a6d0dd;
}
th{
  color:#ff0060
}
#thtr{
  background-color:#9336b4;
}
#completebtn{
background-color: lightgreen;
border-radius: 8px;
border: 2px solid black;
}
#deletebtn{
  background-color: red;
  border-radius: 8px;
  border: 2px solid black;
}
#delbtn{
  text-align: right;
  margin-top: 20px;
}
#compbtn{
  text-align: left;
  margin-top: 60px;
}
#compNavi{
  border-radius: 8px;
  border: 2px solid black;
  background-color: #a6d0dd;
  
}
#delNavi{
  border-radius: 8px;
  border: 2px solid black;
  background-color:#a6d0dd;
}